<%
const { body } = await _.resolveRoute()
_.breadcrumbs = []
_.ecomUtils.categoriesList(body).forEach(categoryName => {
  const findCategory = category => category.name === categoryName
  const category = (body.categories && body.categories.find(findCategory)) ||
    _.categories.find(findCategory)
  if (category) {
    _.breadcrumbs.push({
      name: _.ecomUtils.name(category),
      link: `/${category.slug}`
    })
  }
})
_.breadcrumbs.push({
  name: _.ecomUtils.name(body),
  link: `/${body.slug}`
})
%>

<%- await include('@/view') %>
<a style="display: none" href="#product-actions" class="btn btn-lg btn-primary d-md-none" id="scrollToBuy">
  <i class="fas fa-shopping-bag mr-1"></i>
  <%= _.dictionary('buy') %>
</a>
<script type="text/javascript">
  const bodyProduct = document.querySelectorAll('#page-products')
  const scrollToBuy = document.getElementById('scrollToBuy')
  if(window.innerWidth < 767) {
    window.addEventListener("scroll", function() {
      if(this.pageYOffset > 1025 && bodyProduct.length) {
        scrollToBuy.style.display = 'block'
      } else {
        scrollToBuy.style.display = 'none'
      }
    })
  }
  scrollToBuy.addEventListener("click", function() {
    document.querySelector('.product__buy button').click()
  })
</script>
