<div
  class="variations"
  v-if="product.variations"
>
  <div
    v-for="(options, grid, index) in variationsGrids"
    v-if="filteredGrids[grid]"
    :class="`variations__grid variations__grid--${grid}`"
  >
    <div class="mb-2">
      <span class="variations__grid-title h5">
        {{ getGridTitle(grid) }}
      </span>

      <span
        v-if="selectedOptions[grid]"
        key="success"
        class="variations__value variations__value"
      >
        <i class="i-check mr-1"></i>
        {{ selectedOptions[grid] }}
      </span>
      <span
        v-else
        class="variations__value variations__value--empty"
      >
        <i class="i-arrow-down mr-1"></i>
        {{ i19selectVariation }}
      </span>
    </div>

    <template v-if="options.length <= maxOptionsBtns">
      <div 
        class="block-atacado-variation"
        >
        <div 
          v-for="(optionText, index) in options"
          v-if="productWithMetafied.variations[index].quantity > 0"
          class="variations__option btn btn-light"
          :key="productWithMetafied.variations[index]._id"
          :class="[ 
          `variations__option--${optionText}`, 
          filteredGrids[grid].includes(optionText) ? null : 'd-none']"
        >
          <quantity-selector
              v-if="productWithMetafied.variations[index].quantity > 0"
              :items="[{ _id: productWithMetafied.variations[index]._id, quantity: 0, max_quantity: productWithMetafied.variations[index].quantity }]"
              :max="productWithMetafied.max_quantity > 3 ? 3 : productWithMetafied.max_quantity"
              :has-buy-button="false"
              @together="getItems"
              @set-quantity="({ quantity }) => qntToBuy = quantity"
          />
          {{ optionText }}
        </div>
      </div>
    </template>

    <select
      v-else
      class="variations__select custom-select"
      @change="$event => selectOption($event.target.value, grid, index)"
    >
      <option :selected="!selectedOptions[grid]">
        {{ i19select }}...
      </option>
      <option
        v-for="optionText in options"
        :value="optionText"
        :selected="selectedOptions[grid] === optionText"
        :disabled="!filteredGrids[grid].includes(optionText)"
      >
        {{ optionText }}
      </option>
    </select>
  </div>
</div>
