// Add your custom CSS here.
@media  screen and (min-width: 1368px) {
  .pswp__zoom-wrap img {
    height: 1000px !important;
    width: auto !important;
  }
}

//desktop normal size
@media  screen and (min-width: 992px) and (max-width: 1367px) {
  //slider full
  .banner-slider {
    max-width: 100%;
  }
  .pswp__zoom-wrap img {
    height: 1000px !important;
    width: auto !important;
  }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 991px) {
  .pswp__zoom-wrap img {
    height: 1000px !important;
    width: auto !important;
  }
  .pswp__zoom-wrap {
    transform: translate3d(6%, 1%, 0) scale(1) !important;
  }
}
// apenas mobile
@media screen and (max-width: 480px) {
  .pswp__zoom-wrap img {
    height: 400px !important;
    width: auto !important;
  }
  .checkout__step--current::after {
    content: '\A aba ativa';
    white-space: pre;
  }
  .checkout__step--past::after {
    content: '\A editar frete';
    white-space: pre;
  }
  .pswp__zoom-wrap {
    transform: translate3d(18%, 20%, 0) scale(1) !important;
  }
  .products-carousel .glide__arrows i {
    font-size: 1rem !important;
  }
    #scrollToBuy {
    width: 100%;
    position:fixed;
    bottom:19px;
    z-index:2000;
    cursor:pointer;
    outline:none!important
  }
}
.header {
  & #user-button i, & #cart-button i, &__toggler-icon {
    color: #fff;
  }
  background: #a07671
}
.top-bar {
  @media (min-width: 768px) {
    &__countdown {
      display: none;
    }
  }
  &__countdown, &__nav {
    background: #a07671 !important;
    color: #fff;
  }
  background: #a07671 !important;
}
.product__buy button {
  background: green;
  border: none;
  border-radius: 0;
}
#search-form {
  background: #f1f1f1;
  border-radius: 0;
}
.header__search-btn {
  color: #333;
}
.header__nav a {
  &:hover {
    background: #fff;
    color: #a07671;
  }
  padding: 10px 16px;
  color: #fff;
  border-radius: 0;
}
.menu__list a:hover {
  background: #a07671;
  color: #fff;
}
#inicio {
  background: #fff;
  color: #a07671;
}
.products-carousel__title {
  & a {
    text-transform: uppercase;
  }
  &::before {
    background: none;
  }
  position: relative;
  border-bottom: 1.2px solid #efefef;
  text-align: start;
}
.footer {
  &__title {
    color: #e26f8a
  }
  background: #f1f1f1;
}
.product-card, .products-carousel__item {
  padding: 0;
}
.prices__value, .cart__summary-row, .summary__amount__row:first-child {
  display: none !important;
}
.search-engine__retail .row .col-6.col-md-4.col-lg-3, .search-engine__results .container {
  padding-left: .2rem;
  padding-right: .2rem;
}
.checkout__step--current {
  color: var(--success);
}
.checkout__step--past, .checkout__step--past:hover {
   font-weight: 700;
   color: var(--secondary);
   pointer-events: none;
}
  .prices {
    & strong {
      &:after {
        content: "no cartão";
        font-weight: normal;
      }
    order: 2;
    font-size: var(--font-size) !important;
    color: #000;
    margin-top: 0 !important;
    }
    &> span {
    .prices__discount {
      & span {
        font-size: 25px;
        color: #a07671;
      }
        order: 1;
    }
    .prices__installments {
      order: 2;
      font-weight: bold !important;
      font-size: 1.1rem;
    }
    order: 1;
    display: flex;
    flex-direction: column;
    }
  display: flex;
  flex-direction: column
}
.product-card .prices__installments span::before {
content: "de";
font-weight: normal;
}
.menu__btn--close, .menu__btn.btn.collapsed {
color: #000;
}
//hide zoom
.pswp--open {
   display: none !important;
}
.shipping-calculator__services::before {
  content: "ESCOLHA SUA FORMA DE ENVIO";
  font-weight: bold;
  font-size: 1rem;
}
.account-addresses__card + button {
  display: none;
}
.order-info__toggle {
display: none !important
}
.login-modal__btn {
  &--facebook, &--google, &--windowslive {
    display: none !important;
  }
}
.login__oauth, .minicart__btn-checkout {
  display: none !important;
}
.minicart__btn-cart {
  font-size: 0;
  &::after {
    content: 'Finalizar Compra';
    font-size: 1rem !important;
    font-weight: bold;
  }
}
.quantity-selector__btn-container {
  min-width: unset !important;
}

.shipping-line[data-service-code="PROPRIA"] span {
  display: none;
}

.shipping-calculator.cart__shipping, .summary__amount__row[data-freight="0.00"], .checkout__shipping-method, .checkout__shipping-method +.btn.btn-sm.btn-secondary {
  display: none !important;
}

.checkout__steps .checkout__step:nth-child(2) {
  font-size: 0;
  &::before, small {
    font-size: .875rem !important;
  }
  &::after {
    content: 'Endereço de Cobrança';
    text-transform: uppercase;
    font-size: .85rem !important;
    color: var(--primary-light);
    font-weight: normal;
    padding-left: .35rem;
  }
}

// countdown
.timer-banner {
  display: flex;
  gap: .5em;
  justify-content: center;
  max-width: 100vw;
}
.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  border-radius: .1em;
  color: #a07671 ;
  top: 2%;
  font-size: 3.5rem;
  width: 65px;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}

.top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

.container-segment {
  display: flex;
  flex-direction: column;
  gap: .1em;
  align-items: center;
}

.segment {
  display: flex;
  gap: .1em;
}

.segment-title {
  font-size: 1rem;
}
@media(max-width: 767px) {
  .flip-card {
      font-size: 2.5rem;
      width: 45px;
  }
}
